body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: pink;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nom-logo{
    /*agrandir le logo*/
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* bottom header*/
.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
}

.left-side{
    width: 100%;
}

.logo a{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}

#logo_img{
    height: 50px;
    margin-right: 20px;
}



.middle-side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-side>.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    gap: 30px;
}

/* when the mouse is over the menu, an animation draws a line under the text*/


.middle-side a {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 17px;
}

.middle-side a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.middle-side a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.middle-side a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}




.right-side{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.right-side>.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    gap: 15px;

}

.right-side>.menu img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
 

/*fill the banner with the image*/
.banner {
    position: relative;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width:100%;
}

.banner video{
    width: 100%;
    height: 100%;
}

/* put the banner_content in the middle of the banners' video.*/
.banner_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner_content_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}




.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 30px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    }

.left-card,.right-card{
    width:65%;
    background-color: pink
}

.text{
    display: flex;
    /*centrer le texte*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 5px;
    color: #8e0507;
    /* met le tewte en plus gros */
    font-size: 20px;
    font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;

}


.card h2{
    font-size: 50px;
    font-family: librebaskerville-bold,Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: #000000;
}

.card p{
    font-size: 15px;
    font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;
    text-align: justify;
    border: none;
    color: #000000;
    /*réduire l'espace entre h2 et p*/
    margin-top: -30px;

}



.card video{ /* if the video doesn't take all the space, crop it */
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* footer */
footer{
    background-color: #8e0507;
    color: white;
    margin-top:30px;
}

.content-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
    padding: 0;
    margin-top: 20px;
}



.content-footer h2{
    font-size: 16px;
    font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

.content-footer ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    /* space between the list items */
    gap: 10px;
}

.content-footer li{

    font-size: 15px;
    font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;
    text-align: left;
    color: #a9a9a9;
}

.content-footer a{
    text-decoration: none;
    color: #a9a9a9;
}

.bottom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin-top: 35px;
}

.bottom-footer div{
    width: 100%;
}

.copyright{
    font-size: 15px;
    color: #a9a9a9;
    font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;
    /* place the element in the middle of the div */
    display: flex;
    justify-content: center;
    align-items: center;
}